.divContainer{
    display: flex;
    justify-content: center;
    align-content:center;
    margin-top: auto;
    margin-bottom: auto;
}
.boxCont{
    border-radius: 12px;
    border-width: 5px;
    display: flex;
    justify-content: center;
    
}
.inputCont{
    padding: 10px;
    margin: 10px;
    border-radius: 12px;
    font-weight: bold;
    width: 300px;
}
.buttonSub{
    padding: 10px;
    margin: 10px;
    width: 300px;
    border-style: none;
    border-radius: 12px;
    background-color: crimson;
    font-weight: bolder;
    font-size: larger;
    color:white
}

.buttonSub:hover{
    background-color: white;
    border-color: rgb(61, 61, 61);
    border-style: dashed;
    border-width: 4px;
    color: black;
}